<nav class="navbar navbar-inverse subnav">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Add a Session", new_profile_climbing_entry_path(@profile) %></li>
          <li><%= link_to "Update profile", edit_profile_path(@profile) %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container site-content">
  <div class="edit-form">

    <h1> Hello <%= @profile.username %>! </h1>
    <h3> Total height climbed: <%= @profile.total %> feet </h3>
    <h3> Total number of climbs: <%= @profile.total_climbs %> </h3>
    <hr>

    <% if @profile.climbing_entries.any? %>
      <% @profile.climbing_entries.each do |entry| %>
      <div class="row">
        <div class="col-md-6">
        <p><strong><%= entry.date %></strong> |
        <%= entry.climbing_style %> |
        <%= entry.location %> | <%= link_to 'Add a climb', new_climbing_entry_climb_path(entry) %></p>
        <p><%= entry.notes %></p>
        <% if entry.climbs.any? %>
        <ul>
          <% entry.climbs.each do |climb| %>
            <li><%= climb.height %> feet | Rating: <%= climb.rating_int %></li>
            <% end %>
        </ul>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if entry.climbs.length >= 3 %>
        <%= column_chart [["Climb 1", entry.climbs.first.rating_int], ["Climb 2", entry.climbs.second.rating_int], ["Climb 3", entry.climbs.third.rating_int]]  %>
        <%end%>
        </div>
        <hr>
      <% end %>
    </div>
    <% end %>
  </div>
  </div>
</div>
